# Visualisation of Road Traffic Deaths of Different Countries in 2013

Phase 3: In this Phase I will findout indivisual country rank in each type of Road Traffic Death. For Example Bhuthan comes first in Four Wheelers Death rate. This ranking will be also used to plot a TreeMap using D3js along with GeoMap plotting

This will be end of cleaning and preprocessing of Data using python, Visualization will be done using D3js.

In [1]:
import numpy as np 
import pandas as pd

In [2]:
finalMergedDataV2 = pd.read_csv(r"C:\Users\Salman\Desktop\SEM1\CA682-Data Management & Visualisation\salman\CA682-Assignment\Datasets\converted\final_Data_V1.csv",encoding="ISO-8859-1")

In [3]:
finalMergedDataV2.head()

,code,Country,Four-Wheelers,Two-Wheelers,Cyclists,Pedestrians,Others,Estimated road traffic death rate per 100 000 population
0,ASAFG,Afghanistan,0.0,0.0,0.0,0.0,0.0,15.5
1,EUALB,Albania,50.8,13.2,4.1,31.2,0.7,15.1
2,AFDZA,Algeria,0.0,0.0,0.0,0.0,0.0,23.8
3,EUAND,Andorra,0.0,50.0,0.0,50.0,0.0,7.6
4,AFAGO,Angola,0.0,1.9,0.0,35.4,62.7,26.9

Sorting Each column which will be used to create rank in future

In [4]:
fourWheelers = finalMergedDataV2.sort_values(by='Four-Wheelers',ascending=False )

In [5]:
twoWheelers = finalMergedDataV2.sort_values(by='Two-Wheelers',ascending=False )

In [6]:
cyclists = finalMergedDataV2.sort_values(by='Cyclists',ascending=False )

In [7]:
pedestrians = finalMergedDataV2.sort_values(by='Pedestrians',ascending=False )

In [8]:
others = finalMergedDataV2.sort_values(by='Others',ascending=False )

In [10]:
#Bhutan tops the list for Four Wheelers
fourWheelers.head()

,code,Country,Four-Wheelers,Two-Wheelers,Cyclists,Pedestrians,Others,Estimated road traffic death rate per 100 000 population
15,ASBTN,Bhutan,94.9,1.7,0.0,3.4,0.0,15.1
5,SAARG,Argentina,88.0,0.0,2.0,10.1,0.0,13.6
61,EUISL,Iceland,80.0,6.7,0.0,6.7,6.7,4.6
151,ASTKM,Turkmenistan,74.7,0.0,1.9,23.4,0.0,17.4
116,ASQAT,Qatar,71.6,0.0,0.0,28.4,0.0,15.2

In [11]:
twoWheelers.head()

,code,Country,Four-Wheelers,Two-Wheelers,Cyclists,Pedestrians,Others,Estimated road traffic death rate per 100 000 population
123,EUSMR,San Marino,0.0,100.0,0.0,0.0,0.0,3.2
145,ASTHA,Thailand,13.0,72.8,2.3,8.1,3.8,36.2
25,ASKHM,Cambodia,8.5,70.4,2.3,12.7,6.1,17.4
76,ASLAO,Lao People's Democratic Republic,18.7,66.9,2.7,9.6,2.1,14.3
90,OCMHL,Marshall Islands,33.3,66.7,0.0,0.0,0.0,5.7

In [12]:
cyclists.head()

,code,Country,Four-Wheelers,Two-Wheelers,Cyclists,Pedestrians,Others,Estimated road traffic death rate per 100 000 population
73,OCKIR,Kiribati,0.0,0.0,33.3,66.7,0.0,2.9
102,EUNLD,Netherlands,36.5,13.5,32.3,9.8,7.9,3.4
40,EUDNK,Denmark,50.3,13.6,17.3,17.8,1.0,3.5
85,AFMWI,Malawi,32.5,1.3,17.2,49.1,0.0,35.0
87,ASMDV,Maldives,16.7,16.7,16.7,33.3,16.7,3.5

In [13]:
pedestrians.head()

,code,Country,Four-Wheelers,Two-Wheelers,Cyclists,Pedestrians,Others,Estimated road traffic death rate per 100 000 population
109,OCPLW,Palau,0.0,0.0,0.0,100.0,0.0,4.8
122,OCWSM,Samoa,0.0,0.0,0.0,76.5,23.5,15.8
128,AFSYC,Seychelles,25.0,0.0,0.0,75.0,0.0,8.6
73,OCKIR,Kiribati,0.0,0.0,33.3,66.7,0.0,2.9
48,OCFJI,Fiji,39.0,0.0,2.4,58.5,0.0,5.8

In [14]:
others.head()

,code,Country,Four-Wheelers,Two-Wheelers,Cyclists,Pedestrians,Others,Estimated road traffic death rate per 100 000 population
112,SAPER,Peru,6.9,1.0,0.3,23.3,68.4,13.9
139,AFSDN,Sudan,0.0,0.0,0.0,33.4,66.6,24.3
4,AFAGO,Angola,0.0,1.9,0.0,35.4,62.7,26.9
42,SAECU,Ecuador,2.2,6.9,0.5,30.0,60.3,20.1
78,ASLBN,Lebanon,0.0,0.0,0.0,43.3,56.7,22.6

Now I will write this information to indivisual files and merge all files together to get the ranking of each countries.

In [14]:
fourWheelers['Four_Wheelers_Rank'] =""
fourWheelers.to_csv(r"C:\Users\Salman\Desktop\SEM1\CA682-Data Management & Visualisation\salman\CA682-Assignment\Datasets\converted\four1.csv", encoding="ISO-8859-1")

In [15]:
twoWheelers['Two_Wheelers_Rank'] =""
twoWheelers.to_csv(r"C:\Users\Salman\Desktop\SEM1\CA682-Data Management & Visualisation\salman\CA682-Assignment\Datasets\converted\two1.csv", encoding="ISO-8859-1")

In [16]:
cyclists['Cyclists_Rank'] =""
cyclists.to_csv(r"C:\Users\Salman\Desktop\SEM1\CA682-Data Management & Visualisation\salman\CA682-Assignment\Datasets\converted\cycle1.csv", encoding="ISO-8859-1")

In [17]:
pedestrians['Pedestrians_Rank'] =""
pedestrians.to_csv(r"C:\Users\Salman\Desktop\SEM1\CA682-Data Management & Visualisation\salman\CA682-Assignment\Datasets\converted\ped1.csv", encoding="ISO-8859-1")

In [18]:
others['Others_Rank'] =""
others.to_csv(r"C:\Users\Salman\Desktop\SEM1\CA682-Data Management & Visualisation\salman\CA682-Assignment\Datasets\converted\others1.csv", encoding="ISO-8859-1")

In [16]:
fourWheelers = pd.read_csv(r"C:\Users\Salman\Desktop\SEM1\CA682-Data Management & Visualisation\salman\CA682-Assignment\Datasets\converted\four1.csv", encoding="ISO-8859-1")

In [17]:
twoWheelers = pd.read_csv(r"C:\Users\Salman\Desktop\SEM1\CA682-Data Management & Visualisation\salman\CA682-Assignment\Datasets\converted\two1.csv", encoding="ISO-8859-1")

In [18]:
cyclists = pd.read_csv(r"C:\Users\Salman\Desktop\SEM1\CA682-Data Management & Visualisation\salman\CA682-Assignment\Datasets\converted\cycle1.csv", encoding="ISO-8859-1")

In [19]:
pedestrians = pd.read_csv(r"C:\Users\Salman\Desktop\SEM1\CA682-Data Management & Visualisation\salman\CA682-Assignment\Datasets\converted\ped1.csv", encoding="ISO-8859-1")

In [20]:
others = pd.read_csv(r"C:\Users\Salman\Desktop\SEM1\CA682-Data Management & Visualisation\salman\CA682-Assignment\Datasets\converted\others1.csv", encoding="ISO-8859-1")

In [21]:
fourWheelers.head()

,code,Country,Four-Wheelers,Two-Wheelers,Cyclists,Pedestrians,Others,Estimated road traffic death rate per 100 000 population,Four_Wheelers_Rank
0,ASBTN,Bhutan,94.9,1.7,0.0,3.4,0.0,15.1,1
1,SAARG,Argentina,88.0,0.0,2.0,10.1,0.0,13.6,2
2,EUISL,Iceland,80.0,6.7,0.0,6.7,6.7,4.6,3
3,ASTKM,Turkmenistan,74.7,0.0,1.9,23.4,0.0,17.4,4
4,ASQAT,Qatar,71.6,0.0,0.0,28.4,0.0,15.2,5

In [47]:
mer1 = fourWheelers.merge(twoWheelers,left_on='Country',right_on='Country',how='left')

In [48]:
mer1.head()

,code_x,Country,Four-Wheelers_x,Two-Wheelers_x,Cyclists_x,Pedestrians_x,Others_x,Estimated road traffic death rate per 100 000 population_x,Four_Wheelers_Rank,code_y,Four-Wheelers_y,Two-Wheelers_y,Cyclists_y,Pedestrians_y,Others_y,Estimated road traffic death rate per 100 000 population_y,Two_Wheelers_Rank
0,ASBTN,Bhutan,94.9,1.7,0.0,3.4,0.0,15.1,1,ASBTN,94.9,1.7,0.0,3.4,0.0,15.1,93
1,SAARG,Argentina,88.0,0.0,2.0,10.1,0.0,13.6,2,SAARG,88.0,0.0,2.0,10.1,0.0,13.6,121
2,EUISL,Iceland,80.0,6.7,0.0,6.7,6.7,4.6,3,EUISL,80.0,6.7,0.0,6.7,6.7,4.6,79
3,ASTKM,Turkmenistan,74.7,0.0,1.9,23.4,0.0,17.4,4,ASTKM,74.7,0.0,1.9,23.4,0.0,17.4,120
4,ASQAT,Qatar,71.6,0.0,0.0,28.4,0.0,15.2,5,ASQAT,71.6,0.0,0.0,28.4,0.0,15.2,154

In [49]:
mer2 = mer1.merge(cyclists,left_on='Country',right_on='Country',how='left')

In [50]:
mer3 = mer2.merge(pedestrians,left_on='Country',right_on='Country',how='left')

In [51]:
mer4 = mer3.merge(others,left_on='Country',right_on='Country',how='left')

In [52]:
mer4.head()

,code_x,Country,Four-Wheelers_x,Two-Wheelers_x,Cyclists_x,Pedestrians_x,Others_x,Estimated road traffic death rate per 100 000 population_x,Four_Wheelers_Rank,code_y,...,Estimated road traffic death rate per 100 000 population_y,Pedestrians_Rank,code,Four-Wheelers,Two-Wheelers,Cyclists,Pedestrians,Others,Estimated road traffic death rate per 100 000 population,Others_Rank
0,ASBTN,Bhutan,94.9,1.7,0.0,3.4,0.0,15.1,1,ASBTN,...,15.1,119,ASBTN,94.9,1.7,0.0,3.4,0.0,15.1,96
1,SAARG,Argentina,88.0,0.0,2.0,10.1,0.0,13.6,2,SAARG,...,13.6,110,SAARG,88.0,0.0,2.0,10.1,0.0,13.6,117
2,EUISL,Iceland,80.0,6.7,0.0,6.7,6.7,4.6,3,EUISL,...,4.6,116,EUISL,80.0,6.7,0.0,6.7,6.7,4.6,49
3,ASTKM,Turkmenistan,74.7,0.0,1.9,23.4,0.0,17.4,4,ASTKM,...,17.4,73,ASTKM,74.7,0.0,1.9,23.4,0.0,17.4,121
4,ASQAT,Qatar,71.6,0.0,0.0,28.4,0.0,15.2,5,ASQAT,...,15.2,55,ASQAT,71.6,0.0,0.0,28.4,0.0,15.2,158

In [53]:
rankingData=mer4.to_csv(r"C:\Users\Salman\Desktop\SEM1\CA682-Data Management & Visualisation\salman\CA682-Assignment\Datasets\converted\rankingV2.csv",encoding="ISO-8859-1")

In [56]:
finalDataSet = pd.read_csv(r"C:\Users\Salman\Desktop\SEM1\CA682-Data Management & Visualisation\salman\CA682-Assignment\Datasets\converted\rankingV2.csv",encoding="ISO-8859-1")

In [57]:
finalDataSet

,code,Country,Four-Wheelers,Two-Wheelers,Cyclists,Pedestrians,Others,Estimated road traffic death rate per 100 000 population,Four_Wheelers_Rank,Two_Wheelers_Rank,Cyclists_Rank,Pedestrians_Rank,Others_Rank
0,asbtn,Bhutan,94.9,1.7,0.0,3.4,0.0,15.1,1,93,140,119,96
1,saarg,Argentina,88.0,0.0,2.0,10.1,0.0,13.6,2,121,76,110,117
2,euisl,Iceland,80.0,6.7,0.0,6.7,6.7,4.6,3,79,166,116,49
3,astkm,Turkmenistan,74.7,0.0,1.9,23.4,0.0,17.4,4,120,78,73,121
4,asqat,Qatar,71.6,0.0,0.0,28.4,0.0,15.2,5,154,122,55,158
5,afcod,Democratic Republic of the Congo,70.9,14.9,0.0,4.9,9.1,33.2,6,53,127,118,37
6,aflby,Libya,70.8,1.5,1.3,26.4,0.0,23.8,7,94,82,63,143
7,afbwa,Botswana,67.6,0.0,0.0,27.3,5.1,23.6,8,111,139,60,64
8,askgz,Kyrgyzstan,67.3,0.0,1.1,31.6,0.1,22.0,9,135,83,40,94
9,afner,Niger,67.0,0.0,0.0,33.0,0.0,26.4,10,161,151,34,159
10,eulux,Luxembourg,66.7,17.8,0.0,11.1,4.4,8.7,11,44,167,109,71
11,nacan,Canada,66.6,8.4,2.5,15.7,6.7,6.0,12,74,66,101,50
12,afzaf,South Africa,66.6,0.0,0.0,33.4,0.0,25.1,13,116,111,30,98
13,ocnzl,New Zealand,65.7,15.4,3.1,11.8,3.9,6.0,14,52,61,108,73
14,euirl,Ireland,65.4,13.8,2.7,16.5,1.6,4.1,15,58,64,95,83
15,nausa,United States of America,64.4,14.8,2.2,14.1,4.5,10.6,16,54,73,103,68
16,asomn,Oman,64.3,2.3,2.6,23.2,7.6,25.4,17,90,65,75,46
17,asjor,Jordan,64.3,0.0,0.0,35.7,0.0,26.3,18,138,164,25,127
18,ocaus,Australia,64.2,17.9,4.2,13.2,0.6,5.4,19,43,53,106,91
19,eubgr,Bulgaria,62.9,8.7,5.2,18.1,5.2,8.3,20,71,46,90,62
20,octon,Tonga,62.5,0.0,0.0,37.5,0.0,7.6,21,126,107,21,123
21,astjk,Tajikistan,62.5,0.0,4.2,33.3,0.0,18.8,22,123,52,33,118
22,eufin,Finland,62.4,11.2,7.8,13.2,5.4,4.8,23,64,28,105,60
23,asaze,Azerbaijan,62.1,0.5,0.3,30.5,6.7,10.0,24,100,94,45,51
24,afnam,Namibia,61.7,0.6,0.6,32.1,4.9,23.9,25,98,89,39,65
25,eunor,Norway,61.0,12.8,5.3,9.6,11.2,3.8,26,62,45,112,29
26,askaz,Kazakhstan,60.5,2.3,1.1,22.5,13.5,24.2,27,89,84,79,26
27,asbhr,Bahrain,59.3,3.5,5.8,31.4,0.0,8.0,28,86,42,41,120
28,eurus,Russian Federation,57.3,4.3,1.7,28.9,7.8,18.9,29,85,80,53,44
29,euswe,Sweden,57.3,16.5,5.4,16.2,4.6,2.8,30,49,44,98,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,asprk,Democratic People's Republic of Korea,0.0,0.0,0.0,0.0,0.0,20.8,138,147,128,125,161
138,afcog,Congo,0.0,0.0,0.0,0.0,0.0,26.4,139,166,130,121,150
139,afcom,Comoros,0.0,0.0,0.0,0.0,0.0,28.0,140,165,131,127,157
140,aftcd,Chad,0.0,0.0,0.0,0.0,0.0,24.1,141,162,132,124,155
141,afcaf,Central African Republic,0.0,0.0,0.0,0.0,0.0,32.4,142,157,123,129,153
142,afcmr,Cameroon,0.0,0.0,0.0,0.0,0.0,27.6,143,156,133,141,122
143,afcpv,Cabo Verde,0.0,0.0,0.0,0.0,0.0,26.1,144,155,135,132,104
144,afbdi,Burundi,0.0,0.0,0.0,0.0,0.0,31.3,145,153,136,133,103
145,afbfa,Burkina Faso,0.0,0.0,0.0,0.0,0.0,30.0,146,129,137,134,106
146,asbrn,Brunei Darussalam,0.0,0.0,0.0,0.0,0.0,8.0,147,106,138,136,95
147,afgin,Guinea,0.0,0.0,0.0,0.0,0.0,27.3,148,145,146,164,138
148,asirq,Iraq,0.0,0.0,0.0,0.0,0.0,20.2,149,140,165,159,142
149,afsen,Senegal,0.0,0.0,0.0,0.0,0.0,27.2,150,103,110,157,128
150,ockir,Kiribati,0.0,0.0,33.3,66.7,0.0,2.9,151,137,1,4,146
151,assau,Saudi Arabia,0.0,0.0,0.0,0.0,0.0,27.4,152,128,109,155,129
152,eusmr,San Marino,0.0,100.0,0.0,0.0,0.0,3.2,153,1,99,144,152
153,ocwsm,Samoa,0.0,0.0,0.0,76.5,23.5,15.8,154,151,100,2,15
154,afrwa,Rwanda,0.0,0.0,0.0,0.0,0.0,32.1,155,152,104,153,154
155,ocplw,Palau,0.0,0.0,0.0,100.0,0.0,4.8,156,150,148,1,162
156,aspak,Pakistan,0.0,0.0,0.0,0.0,0.0,14.2,157,158,149,128,163
157,afnga,Nigeria,0.0,0.0,0.0,0.0,0.0,20.5,158,160,150,145,166
158,asnpl,Nepal,0.0,0.0,0.0,0.0,0.0,17.0,159,163,152,146,149
159,afmoz,Mozambique,0.0,0.0,0.0,0.0,0.0,31.6,160,164,153,147,130
160,eumco,Monaco,0.0,0.0,0.0,0.0,0.0,0.0,161,159,154,148,133
161,ocfsm,Micronesia (Federated States of),0.0,0.0,0.0,0.0,0.0,1.9,162,149,155,149,134
162,afmdg,Madagascar,0.0,0.0,0.0,0.0,0.0,28.4,163,131,160,152,141
163,aflbr,Liberia,0.0,0.0,0.0,0.0,0.0,33.7,164,132,161,154,144
164,aslbn,Lebanon,0.0,0.0,0.0,43.3,56.7,22.6,165,133,162,10,5
165,askwt,Kuwait,0.0,0.0,0.0,0.0,0.0,18.7,166,136,163,158,145
166,asafg,Afghanistan,0.0,0.0,0.0,0.0,0.0,15.5,167,167,121,167,167

# This will be my Final Dataset which will be used for Visualization. I will be creating 5 different treemaps for indivisual country ranking and a final geoMap. I will be using HTML, Javascript, D3js in Sublime text editor.