# Visualisation of Road Traffic Deaths of Different Countries in 2013

Phase 2: Cleaning of Geographical Dataset and combining it with the new Dataset obtained from Phase 1

In [4]:
import pandas as pd
import numpy as np

In [10]:
#Reading the Geographical Data 
mapData = pd.read_csv(r"C:\Users\Salman\Desktop\SEM1\CA682-Data Management & Visualisation\salman\CA682-Assignment\Datasets\GeoData\geo_v1.csv",encoding="ISO-8859-1")

In [12]:
#Column with blanks contain different languages that is why it showing blank. For example official_name_ar is in Arabic.
mapData.head()

,official_name_ar,official_name_cn,official_name_en,official_name_es,official_name_fr,official_name_ru,ISO3166-1-Alpha-2,ISO3166-1-Alpha-3,ISO3166-1-numeric,ISO4217-currency_alphabetic_code,...,Least Developed Countries (LDC),MARC,Region Code,Region Name,Small Island Developing States (SIDS),Sub-region Code,Sub-region Name,TLD,WMO,is_independent
0,_______,___,Ireland,Irlanda,Irlande,________,IE,IRL,372.0,EUR,...,NaN,ie,150.0,Europe,NaN,154.0,Northern Europe,.ie,IE,Yes
1,_______,__,Iceland,Islandia,Islande,________,IS,ISL,352.0,ISK,...,NaN,ic,150.0,Europe,NaN,154.0,Northern Europe,.is,IL,Yes
2,________,____,Azerbaijan,Azerbaiyn,Azerbadjan,___________,AZ,AZE,31.0,AZN,...,NaN,aj,142.0,Asia,NaN,145.0,Western Asia,.az,AJ,Yes
3,_______,____,Armenia,Armenia,Armnie,_______,AM,ARM,51.0,AMD,...,NaN,ai,142.0,Asia,NaN,145.0,Western Asia,.am,AY,Yes
4,_____,___,Aruba,Aruba,Aruba,_____,AW,ABW,533.0,AWG,...,NaN,aw,19.0,Americas,x,419.0,Latin America and the Caribbean,.aw,NU,Part of NL

In [13]:
list(mapData)

['official_name_ar',
 'official_name_cn',
 'official_name_en',
 'official_name_es',
 'official_name_fr',
 'official_name_ru',
 'ISO3166-1-Alpha-2',
 'ISO3166-1-Alpha-3',
 'ISO3166-1-numeric',
 'ISO4217-currency_alphabetic_code',
 'ISO4217-currency_country_name',
 'ISO4217-currency_minor_unit',
 'ISO4217-currency_name',
 'ISO4217-currency_numeric_code',
 'M49',
 'UNTERM Arabic Formal',
 'UNTERM Arabic Short',
 'UNTERM Chinese Formal',
 'UNTERM Chinese Short',
 'UNTERM English Formal',
 'UNTERM English Short',
 'UNTERM French Formal',
 'UNTERM French Short',
 'UNTERM Russian Formal',
 'UNTERM Russian Short',
 'UNTERM Spanish Formal',
 'UNTERM Spanish Short',
 'CLDR display name',
 'Capital',
 'Continent',
 'DS',
 'Developed / Developing Countries',
 'Dial',
 'EDGAR',
 'FIFA',
 'FIPS',
 'GAUL',
 'Geoname ID',
 'Global Code',
 'Global Name',
 'IOC',
 'ITU',
 'Intermediate Region Code',
 'Intermediate Region Name',
 'Land Locked Developing Countries (LLDC)',
 'Languages',
 'Least Developed Countries (LDC)',
 'MARC',
 'Region Code',
 'Region Name',
 'Small Island Developing States (SIDS)',
 'Sub-region Code',
 'Sub-region Name',
 'TLD',
 'WMO',
 'is_independent']

The dataset has some issues: 
1. Few rows contain Arabic language.
2. Few rows contains Chinese language.
2. Few rows has Null values.

The Visualization which I am going to create further using D3js wants CODE for each country which is a combination of Continent code followed by Countrycode. Example Ireland in Europe is represented as "EUIRL".

I will be extracting only 3 columns from the current dataset, that is official country name in english (official_name_en), country code in alpha3 format (ISO3166-1-Alpha-3) and continent code on alpha2 format (Continent).

In [14]:
mapDataV1 = mapData[['official_name_en' , 'ISO3166-1-Alpha-3', 'Continent']]

In [15]:
mapDataV1.head()

  official_name_en ISO3166-1-Alpha-3 Continent
0          Ireland               IRL        EU
1          Iceland               ISL        EU
2       Azerbaijan               AZE        AS
3          Armenia               ARM        AS
4            Aruba               ABW       NaN

In [16]:
mapDataV1 = mapData[['official_name_en' , 'Continent', 'ISO3166-1-Alpha-3']]

In [17]:
mapDataV1.head()

  official_name_en Continent ISO3166-1-Alpha-3
0          Ireland        EU               IRL
1          Iceland        EU               ISL
2       Azerbaijan        AS               AZE
3          Armenia        AS               ARM
4            Aruba       NaN               ABW

In [16]:
mapDataV1.to_csv(r"C:\Users\Salman\Desktop\SEM1\CA682-Data Management & Visualisation\salman\CA682-Assignment\Datasets\GeoData\geo_v2.csv",encoding="ISO-8859-1")

In [18]:
mapDataV1 = pd.read_csv(r"C:\Users\Salman\Desktop\SEM1\CA682-Data Management & Visualisation\salman\CA682-Assignment\Datasets\GeoData\geo_v2.csv",encoding="ISO-8859-1")

In [19]:
mapDataV1.head()

  official_name_en Continent ISO3166-1-Alpha-3
0          Ireland        EU               IRL
1          Iceland        EU               ISL
2       Azerbaijan        AS               AZE
3          Armenia        AS               ARM
4            Aruba       NaN               ABW

In [20]:
#dropping Null Values since we cannot place 0 for Country/Continent codes
mapDataV1.dropna(how='any', inplace=True)

In [21]:
mapDataV1['code']=mapDataV1['Continent'].astype(str)+mapDataV1['ISO3166-1-Alpha-3'].astype(str)

In [22]:
mapDataV1.head()

  official_name_en Continent ISO3166-1-Alpha-3   code
0          Ireland        EU               IRL  EUIRL
1          Iceland        EU               ISL  EUISL
2       Azerbaijan        AS               AZE  ASAZE
3          Armenia        AS               ARM  ASARM
5        Australia        OC               AUS  OCAUS

In [23]:
mapDataV1.drop(['Continent','ISO3166-1-Alpha-3'], axis = 1, inplace = True)
mapDataV1.head()

  official_name_en   code
0          Ireland  EUIRL
1          Iceland  EUISL
2       Azerbaijan  ASAZE
3          Armenia  ASARM
5        Australia  OCAUS

In [24]:
mapDataV1.rename(columns = {'official_name_en':'name'},inplace=True)

In [25]:
mapDataV1.head()

         name   code
0     Ireland  EUIRL
1     Iceland  EUISL
2  Azerbaijan  ASAZE
3     Armenia  ASARM
5   Australia  OCAUS

In [26]:
mapDataV1.to_csv(r"C:\Users\Salman\Desktop\SEM1\CA682-Data Management & Visualisation\salman\CA682-Assignment\Datasets\GeoData\geo_v3.csv",encoding="ISO-8859-1")

In [27]:
mapDataV1.head()

         name   code
0     Ireland  EUIRL
1     Iceland  EUISL
2  Azerbaijan  ASAZE
3     Armenia  ASARM
5   Australia  OCAUS

In [28]:
#Reading the Dataset created in the Phase 1 of cleaning
roadTrafficDeathData = pd.read_csv(r"C:\Users\Salman\Desktop\SEM1\CA682-Data Management & Visualisation\salman\CA682-Assignment\Datasets\converted\mergedRoadTrafficDeathV1.csv",encoding="ISO-8859-1")

In [31]:
#to see if there is any differences in countries
x=0

for i in list(mapDataV1.name):
    if (i not in list(roadTrafficDeathData.Country)):
        x=x+1
        print(i)
print(x)

Antarctica
French Southern Territories
Western Sahara
Holy See
British Indian Ocean Territory
French Polynesia
Pitcairn
Tuvalu
Tokelau
Gibraltar
land Islands
Svalbard and Jan Mayen Islands
Faroe Islands
Falkland Islands (Malvinas)
Cocos (Keeling) Islands
Northern Mariana Islands
Wallis and Futuna Islands
Bouvet Island
Christmas Island
Isle of Man
Mayotte
Norfolk Island
Heard Island and McDonald Islands
The former Yugoslav Republic of Macedonia
South Georgia and the South Sandwich Islands
Jersey
State of Palestine
Runion
American Samoa
Saint Helena
Swaziland
Guam
French Guiana
Guernsey
New Caledonia
Cte d'Ivoire
Liechtenstein
China, Macao Special Administrative Region
China, Hong Kong Special Administrative Region
United States Minor Outlying Islands
Nauru
Niue
42

In [32]:
mergedDataV1 = roadTrafficDeathData.merge(mapDataV1,left_on='Country',right_on='name',how='left')

In [33]:
#Soume Countries doen't have codes so deleting all such countries
mergedDataV1.dropna(how='any', inplace=True)

In [34]:
mergedDataV1.shape

(165, 9)

In [35]:
mergedDataV1.drop(['name'], axis = 1, inplace = True)

In [36]:
mergedDataV1.head()

,Country,Estimated road traffic death rate (per 100 000 population),Four-Wheelers,Two-Wheelers,Cyclists,Pedestrians,Others,code
0,Afghanistan,15.5,0.0,0.0,0.0,0.0,0.0,ASAFG
1,Albania,15.1,50.8,13.2,4.1,31.2,0.7,EUALB
2,Algeria,23.8,0.0,0.0,0.0,0.0,0.0,AFDZA
3,Andorra,7.6,0.0,50.0,0.0,50.0,0.0,EUAND
4,Angola,26.9,0.0,1.9,0.0,35.4,62.7,AFAGO

In [37]:
mergedDataV1.columns.tolist()

['Country',
 'Estimated road traffic death rate (per 100 000 population)',
 'Four-Wheelers',
 'Two-Wheelers',
 'Cyclists',
 'Pedestrians',
 'Others',
 'code']

In [38]:
code = mergedDataV1['code'].str.lower()

In [39]:
type(code)

pandas.core.series.Series

In [ ]:
finalData = mergedDataV1[['code','Country','Four-Wheelers','Two-Wheelers','Cyclists','Pedestrians','Others','Estimated road traffic death rate per 100 000 population']]

In [110]:
finalData.head()

,code,Country,Four-Wheelers,Two-Wheelers,Cyclists,Pedestrians,Others,Estimated road traffic death rate per 100 000 population
0,ASAFG,Afghanistan,0.0,0.0,0.0,0.0,0.0,15.5
1,EUALB,Albania,50.8,13.2,4.1,31.2,0.7,15.1
2,AFDZA,Algeria,0.0,0.0,0.0,0.0,0.0,23.8
3,EUAND,Andorra,0.0,50.0,0.0,50.0,0.0,7.6
4,AFAGO,Angola,0.0,1.9,0.0,35.4,62.7,26.9

In [111]:
finalData.to_csv(r"C:\Users\Salman\Desktop\SEM1\CA682-Data Management & Visualisation\salman\CA682-Assignment\Datasets\converted\final_Data_V1.csv",encoding="ISO-8859-1")

Now This is the end of Phase 2